body {
    height: 100vh;
}

.picture {
    box-sizing: border-box;
    border: 15px solid #3e3e3e;
    background-color: white;
    margin: 0 auto;
    border-collapse: collapse;
    height: 900px;
    width: 750px;
}

td {
    border: 5px solid #3e3e3e;
    height: 30px;
    width: 30px;
}

.black {
    background-color: black;
}

.blue {
    background-color: #0d7fbe;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;

}
